/* custom style */

.header {
	border-top: 10px solid #7ED4BA;
	border-bottom: 1px solid #cccccc;
}

.logo {

}

.phone {
	float: right;
	margin-top: 30px;
	margin-bottom: 20px;
}

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	clear: both;
	text-align: right;
}

.main-menu li {
	display: inline-block;
	margin-left: 5px;
}

.main-menu li a {
	display: block;
	padding: 5px 8px;
	color: #707070;
}
.main-menu li a:hover {
	background: #cccccc;
}

.sect {
		
}
.sect .container {
	padding-top: 80px;
	padding-bottom: 80px;
}
.sect-1 {
	background-image: url(img/home-header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 595px;
}
.sect-1 p {
	font-size: 40px;
	color: #ffffff;
	padding-top: 300px;
}

.sect-2 {
	background-color: #F0F0F0;
	color: #6B6B6B;
	font-size: 25px;
}
.sect-2 .col-md-4 p {
	padding-top: 50px;
	text-align: right;
}
.sect-2 .col-md-8 ul {
	margin: 0 0 0 40px;
	padding: 0;
	list-style: none;
}

.sect-3 {
	background-color: #ffffff;
}

.sect-title {
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 30px;
}
.sect-3 .col-md-3 img {
	border: 1px solid #cccccc;
}
.caption {
	margin-top: 15px;
	text-align: center;
}

.sect-4 {
	height: 500px;
	background-image: url(img/sect3-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.sect-4 .container {
	padding-top:125px;
}
.sect-4 .col-md-2 {
	text-align: center;
}

.sect-5 {
	background-color: #ffffff;
	text-align: center;
}

.sect-5 p {
	margin: 0;
	padding: 0;
	font-size: 15px;
}

.footer {
	padding: 10px;
	font-size: smaller;
	background-color: #7ED4BA;
	color: #ffffff;
	text-align: center;
	font-size: 13px;
}